# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE Settings
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Audio Files (generated while running)
voice.wav

# Logs
*.log