# Virtual Environment
.venv/

# Environment Variables
API.env

# Python Cache
__pycache__/
*.pyc

# Generated Audio
voice.wav

# VS Code Settings
.vscode/

# Operating System Files
.DS_Store
Thumbs.db